@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes obnoxiousAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.obnoxious-hover:hover {
  animation: obnoxiousAnimation 2s ease-in-out infinite;
}
